@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");



.menus .mobile-menu li
{
    margin-bottom: 20px;
    display: block;
}
.menus .mobile-menu li a
{
    font-size: 20px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.menus .mobile-menu li a.active
{
    color: var(--skin-color);
}
.menus .mobile-menu li a i
{
    margin-right: 15px;
}

/* =================== */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 50px;
    height: calc(100vh - 70px);
    width: 100%;

}

.heade{
    position:fixed;
    z-index: 15;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
    header nav {
        display: none;
    }
    /* .heade{
        position:absolute;
        
    } */

    header {
        padding: 0 20px;
        background-color: #1854b4;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
    }

    #hamburger-icon {
        display: block;
    }
    
}